<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h3 class="mb-2"><i class="fas fa-user-plus"></i> Agregar Empleado</i></h3>
                    <form action="/empleados/agregar" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="nombres">Nombres</label>
                                <input name="nombres" type="text" maxlength="45" minlength="3" pattern="[A-Za-z ]+"
                                    title="Solo se pueden usar letras, minimo 3 caracteres" class="form-control"
                                    placeholder="primer y segundo nombre" autofocus required>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="apellidos">Apellidos</label>
                                <input name="apellidos" type="text" maxlength="45" minlength="3" pattern="[A-Za-z ]+"
                                    title="Solo se pueden usar letras" class="form-control"
                                    placeholder="primer y segundo apellido" required>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="fecha_nacimiento">Fecha de nacimiento</label>
                                <input name="fecha_nacimiento" type="date" class="form-control" required>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="sexo">Sexo</label>
                                <select name="sexo" class="form-control" required>
                                    <option selected>Hombre</option>
                                    <option>Mujer</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="rfc">RFC</label>
                                <input name="rfc" type="text" maxlength="13" minlength="13" class="form-control"
                                    placeholder="RFC" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="curp">CURP</label>
                                <input name="curp" type="text" maxlength="18" minlength="18" class="form-control"
                                    placeholder="CURP" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="seguro_social">Seguro Social</label>
                                <input name="seguro_social" type="text" pattern="[0-9]{11}"
                                    title="11 numeros sin espacios" maxlength="11" minlength="11" class="form-control"
                                    placeholder="N. Seguro Social" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="departamento">Departamento</label>
                                <input name="departamento" type="text" maxlength="45" minlength="1" class="form-control"
                                    placeholder="Departamento" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="puesto">Puesto</label>
                                <input name="puesto" type="text" maxlength="45" minlength="1" class="form-control"
                                    placeholder="Puesto" required>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="fecha_ingreso">Fecha Ingreso</label>
                                <input name="fecha_ingreso" type="date" class="form-control" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="direccion">Direccion</label>
                                <input name="direccion" type="text" maxlength="45" minlength="1" class="form-control"
                                    placeholder="Dirección fisica" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="telefono">Telefono</label>
                                <input name="telefono" type="text" pattern="[0-9]{10}" title="10 numeros sin espacios"
                                    maxlength="10" minlength="10" class="form-control" placeholder="Celular o Local"
                                    required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="email">E-Mail</label>
                                <input name="email" type="email" class="form-control" placeholder="Correo Electronico"
                                    required>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="sueldo_diario">Sueldo Diario</label>
                                <input name="sueldo_diario" value="" min="1" type="number" class="form-control"
                                    placeholder="Sueldo diario" required> MXN
                            </div>
                        </div>
                        <button class="btn btn-success float-right mt-4">Dar de alta</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- nombres, apellidos, rfc, curp, seguro social, departamento, puesto, fecha nac, sexo, direccion, telefono, email --}}