<div class="p-4">
    <div class="row">
        {{#each empleados}}
        <h3 class="mb-4"><i class="fas fa-users"></i> Listado de empleados</h3>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Nacimiento</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">RFC</th>
                    <th scope="col">CURP</th>
                    <th scope="col">NSS</th>
                    <th scope="col">Dpto</th>
                    <th scope="col">Puesto</th>
                    <th scope="col">Ingreso</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Erick Gustavo Lugo Juarez</th>
                    <td>06/05/1994</td>
                    <td>Hombre</td>
                    <td>LUJE940506</td>
                    <td>LUJE940506HYNGRR09</td>
                    <td>LUJE940506HYNGR</td>
                    <td>Desarrollo</td>
                    <td>Gerente</td>
                    <td>01/01/2000</td>
                    <td>Calle 53b #444</td>
                    <td>9991942726</td>
                    <td>ericklugoj@gmail.com</td>
                </tr>
                <tr>
                    <th scope="row">Erick Gustavo Lugo Juarez</th>
                    <td>06/05/1994</td>
                    <td>Hombre</td>
                    <td>LUJE940506</td>
                    <td>LUJE940506HYNGRR09</td>
                    <td>LUJE940506HYNGR</td>
                    <td>Desarrollo</td>
                    <td>Gerente</td>
                    <td>01/01/2000</td>
                    <td>Calle 53b #444</td>
                    <td>9991942726</td>
                    <td>ericklugoj@gmail.com</td>
                </tr>
                <tr>
                    <th scope="row">Erick Gustavo Lugo Juarez</th>
                    <td>06/05/1994</td>
                    <td>Hombre</td>
                    <td>LUJE940506</td>
                    <td>LUJE940506HYNGRR09</td>
                    <td>LUJE940506HYNGR</td>
                    <td>Desarrollo</td>
                    <td>Gerente</td>
                    <td>01/01/2000</td>
                    <td>Calle 53b #444</td>
                    <td>9991942726</td>
                    <td>ericklugoj@gmail.com</td>
                </tr>
                <tr>
                    <th scope="row">Erick Gustavo Lugo Juarez</th>
                    <td>06/05/1994</td>
                    <td>Hombre</td>
                    <td>LUJE940506</td>
                    <td>LUJE940506HYNGRR09</td>
                    <td>LUJE940506HYNGR</td>
                    <td>Desarrollo</td>
                    <td>Gerente</td>
                    <td>01/01/2000</td>
                    <td>Calle 53b #444</td>
                    <td>9991942726</td>
                    <td>ericklugoj@gmail.com</td>
                </tr>
            </tbody>
        </table>
        {{else}}
        <div class="col-md-6 mx-auto">
            <div class="card card-body text-center">
                <p>Aun no se ha dado de alta ningun empleado</p>
                <a href="/empleados/agregar">Dar de alta</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>