<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-5">
            <h1 class="mb-1"><span class="span-title">G</span> FACT</h1>
            <h3 class="mb-1">
                <em>Timbra y verifica las facturas de toda tu nomina</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                Empezar!
            </a>
        </div>
    </header>
</main>