body {
    background: #f5f6f5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    /* overflow: hidden; */
}

table {
    font-size: 12px;
}

.ocultar {
    display: none;
}

.navbar {
    font-size: 14px;
}

.span-title {
    color: #e74c3c;
}

.navbar-brand {
    font-weight: 700;
}

.bg-black {
    background: #212121;
}

.index {
    width: 100vw;
    height: 100vh;
}

.masthead {
    font-family: 'Josefin Sans', sans-serif;
    color: whitesmoke;
    min-height: 30rem;
    height: 100%;
    padding-top: 8rem;
    background: url('/img/Background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.masthead h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

@media (min-width: 992px) {
    .masthead h1 {
        font-size: 5.5rem;
    }
}