<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container">
        <a class="navbar-brand" href="/"><span class="span-title">G</span> Fact</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                {{!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Links
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/links">All links</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/links/add">Add link</a>
                    </div>
                </li> --}}
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Empleados
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/empleados">Listar</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/empleados/agregar">Agregar</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Facturas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/facturas">Listar</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/facturas/individual">Factura individual</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="/profile" class="nav-link">Perfil</a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link">Cerrar Sesión</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a href="/signin" class="nav-link">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a href="/signup" class="nav-link">Registrarse</a>
                </li>
                {{/if}}

            </ul>
        </div>
    </div>
</nav>